body {
    font-family: sans-serif;
}

textarea
{
    font-family: inherit;
}

form {
    border: 1px solid black;
    width: 90%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 0 1em;
}

form label {
    display: block;
    font-size: 0.8em;
    color: darkslategrey;
    padding-left: 3px;
}

input,
textarea
{
    width: 100%;
    font-size: 1.1em;
    padding: 4px;
    font-family: inherit;
    font-weight: lighter;
    border:1px solid gray;
    outline: none;
    border-radius: 0.3em;
}

input:focus,
textarea:focus {
    border:1px solid orange;
}

input[type=submit] {
    background-color: limegreen;
    cursor: pointer;
    width: 14em;
    padding: .3em 0;
    border-radius: 0.7em;
}

input[type=submit]:hover {
    background-color: yellow;
    box-shadow: 2px 2px 2px grey;
}
.input-container {
        display: flex;
    }

    .input-container input[type="text"] {
        flex-grow: 1;
        padding: 5px;
    }

    .input-container input[type="text"]:focus {
        outline: none;
    }

    .unit {
        padding: 5px;
        width: 2em;
        background-color: lightgray;
        border: 1px solid gray;
        margin-left: 5px;
    }

